.App {
  text-align: center;
}


.links h3 {
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-left: 35px;
}

h1 {
  text-shadow: 1px 1px 5px whitesmoke;
  color: dodgerblue;
  font-size: 60px;
}

h3 {
  color: red;
  text-shadow: 1px 1px 5px black;
  font-weight: bolder;
  font-size: 30px;
}

p {
  text-shadow: 1px 1px 5px black;
  color: #d26f2d;
  font-size: 27px;
}

strong {
  text-shadow: 1px 1px 5px black;
  color: #d26f2d;
  font-size: 20px;
}

ul {
  align-items: center;
  display: flex;
}

form {
  padding: 35px;
}

.Smurf {
  background: transparent;
  max-height: 400px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 2px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 6px lightcoral, 0 3px 6px lightcoral;
}
